 1 
 
{% load static %}
 2 
 
<!doctype html>
 3 
 
<html lang="en">
 4 
 
<head>
 5 
 
  <meta charset="utf-8">
 6 
 
  <title>Django session</title>
 7 
 
</head>
 8 
 
<link rel="stylesheet" href="{% static 'css/all.css' %}">
 9 
 
  <!-- Bootstrap -->
 10 
 
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
 11 
 
  <!-- Custom -->
 12 
 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
 13 
 
  <!-- Custom -->
 14 
 
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
 15 
 
</head>
 16 
 
<body>
 17 
 
       <section id="top-bar" class="p-3">
 18 
 
    <div class="container">
 19 
 
      <div class="row">
 20 
 
        <div class="col-md-4">
 21 
 
          <i class="fas fa-phone"></i> 77090 00419
 22 
 
        </div>
 23 
 
        <div class="col-md-4">
 24 
 
          <i class="fas fa-envelope-open"></i> iyashkadam7@gmail.com
 25 
 
        </div>
 26 
 
        <div class="col-md-4">
 27 
 
          <div class="social text-right">
 28 
 
            <a href="#">
 29 
 
              <i class="fab fa-twitter"></i>
 30 
 
            </a>
 31 
 
            <a href="#">
 32 
 
              <i class="fab fa-facebook"></i>
 33 
 
            </a>
 34 
 
            <a href="#">
 35 
 
              <i class="fab fa-linkedin"></i>
 36 
 
            </a>
 37 
 
            <a href="#">
 38 
 
              <i class="fab fa-instagram"></i>
 39 
 
            </a>
 40 
 
           </div>
 41 
 
        </div>
 42 
 
      </div>
 43 
 
    </div>
 44 
 
  </section>
 45 
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
 46 
 
    <div class="container">
 47 
 
      <a class="navbar-brand" href="home.html">
 48 
 
        <img src="assets/img/logo.png" class="logo" alt="">
 49 
 
      </a>
 50 
 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
 51 
 
        <span class="navbar-toggler-icon"></span>
 52 
 
      </button>
 53 
 
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
 54 
 
        <ul class="navbar-nav">
 55 
 
          <li 
 56 
 
            {% if "/" == request.path %}
 57 
 
              class="nav-item active mr-3"
 58 
 
            {% else %}
 59 
 
              class="nav-item mr-3"
 60 
 
            {% endif %}
 61 
 
          >
 62 
 
            <a class="nav-link" href="{% url 'home' %}">Home</a>
 63 
 
          </li>
 64 
 
          <li {% if 'about' in request.path %}
 65 
 
              class="nav-item active mr-3"
 66 
 
            {% else %}
 67 
 
              class="nav-item mr-3"
 68 
 
            {% endif %}
 69 
 
          >
 70 
 
            <a class="nav-link" href="{% url 'about' %}">About</a>
 71 
 
          </li>
 72 
 
          <li class="nav-item mr-3">
 73 
 
            <a class="nav-link" href="{% url 'listings' %}">Featured Listings</a>
 74 
 
          </li>
 75 
 
        </ul>
 76 
 
 77 
 
        <ul class="navbar-nav ml-auto">
 78 
 
          <li class="nav-item mr-3">
 79 
 
            <a class="nav-link" href="{% url 'register' %}">
 80 
 
              <i class="fas fa-user-plus"></i> Register</a>
 81 
 
          </li>
 82 
 
          <li class="nav-item mr-3">
 83 
 
            
 84 
 
            <a class="nav-link" href="{% url 'login' %}">
 85 
 
              <i class="fas fa-sign-in-alt"></i>Login</a>
 86 
 
          </li>
 87 
 
        </ul>
 88 
 
      </div>
 89 
 
    </div>
 90 
 
  </nav>
 91 
 
          {% block content %} {% endblock %}
 92 
 
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
 93 
 
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
 94 
 
  <script src="{% static 'js/lightbox.min.js' %}"></script>
 95 
 
  <script src="{% static 'js/main.js' %}"></script>
 96 
 
</body>
 97 
 
</html>
